@{
    /* Global includes for the theme
    ***************************************************************/

    SetMeta("viewport", "width=device-width, initial-scale=1.0");

    SetMeta(httpEquiv: "X-UA-Compatible", content: "IE=edge,chrome=1");
    Script.Require("jQuery").AtFoot();
    Script.Require("Bootstrap").AtFoot();
    Script.Include("theme.js").AtFoot();
    Style.Include("//fonts.googleapis.com/css?family=Lobster&subset=latin");
    Style.Require("Bootstrap");
    Style.Include("site.min.css");
    Style.Include("theme.min.css");

    /* Inserting some ad hoc shapes
    ***************************************************************/

   // WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
***************************************************************/

    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}

@tag.StartElement

<div class="container">
    <div class="row">
        <div class="content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Suzuki
                            </a>
                        </h4>

                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <img src="http://files.conceptcarz.com/img/Suzuki/suzuki-concept-kizashi-3-2008-01-800.jpg" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Chevrolet
                            </a>
                        </h4>

                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <img src="http://www.wallsave.com/wallpapers/800x400/zl-camaro/65234/zl-camaro-chevrolet-carbon-concept-car-65234.jpg" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Volvo
                            </a>
                        </h4>

                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <img src="http://files.conceptcarz.com/img/Volvo/2009_Volvo_S60_Concept-Image-01-800.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="layout-footer" class="group">
    <footer id="footer">      
        @if (Model.Footer != null)
        {
            <div id="footer-sig" class="group">
                @Display(Model.Footer)
            </div>
        }
    </footer>
</div>
@tag.EndElement