<div class="container">
    <div class="row">
        <div class="content">
            <div class="panel-group" id="accordion">
                @{
                    var showFirst = "in";
                    foreach (var item in Model.Content.Items[1].Items)
                    {
                        IEnumerable<Orchard.ContentManagement.ContentField> fields = null;
                        var title = string.Empty;
                        var htmlString = string.Empty;
                        var id = 0;
                        var url = string.Empty;
                        
                        foreach (var part in item.ContentItem.Parts)
                        {
                            string partName = part.ToString();
                            switch (partName)
                            {
                                case "Orchard.Core.Title.Models.TitlePart":
                                    title = ((Orchard.Core.Title.Models.TitlePart) part).Title;
                                    id = ((Orchard.Core.Title.Models.TitlePart) part).Id;                              
                                    break;
                                case "Orchard.Core.Common.Models.BodyPart":
                                    htmlString = ((Orchard.Core.Common.Models.BodyPart)part).Text;
                                    break;
                                case "Orchard.ContentManagement.ContentPart":
                                    fields = ((Orchard.ContentManagement.ContentPart) part).Fields;
                                    foreach (var contentField in fields.Where(contentField => contentField.Name == "Image"))
                                    {
                                        var mediaParts = ((Orchard.MediaLibrary.Fields.MediaLibraryPickerField) contentField).MediaParts.ToList();
                                        url = mediaParts[0].MediaUrl;
                                    }
                                    break;
                            }
                        }

                        if (htmlString.Contains("iframe"))
                        {
                            htmlString = htmlString.Replace("<p>", "").Replace("</p>", "");
                        }
                                                
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@id">
                                        @title
                                    </a>
                                </h4>

                            </div>
                            <div id="collapse-@id" class="panel-collapse collapse @showFirst">
                                <div class="panel-body">
                                    <div class="panel-text">@Html.Raw(HttpUtility.HtmlDecode(htmlString))</div>                                
                                    <img src="@url" />
                                </div>
                            </div>
                        </div>

                        showFirst = "";
                    }
                }
            </div>
        </div>
    </div>
</div>
