html, body {
    background: #000; background-image: url(../Content/bg.png); background-repeat:no-repeat; background-position: bottom center; background-attachment:fixed;
}
.content {
    width:960px;
    height:644px;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}
.panel-group {
    width:630px;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(-90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(-90deg);
    -o-transform-origin: right top;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top;
}
.panel-heading {
    width: 430px;
}
.panel-title {
    height:18px
}
.panel-title a {
    float:right;
    text-decoration:none;
    padding: 10px 430px;
    margin: -10px -430px;
}
.panel-body {
    height:830px;
}
.panel-group img {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(90deg);
    -o-transform-origin: right top;
    transform: translateX(-100%) rotate(90deg);
    transform-origin: right top;
}
.panel-group .panel img {
    width: 396px;
    height: 600px;
    margin-left:598px;
    margin-top:396px;
    position: absolute;
}

div#layout-navigation.group>div.zone.zone-navigation>article.widget-navigation.widget-menu-widget.widget {
 /* position: relative; */
/* min-height: 50px; */
/* margin-bottom: 20px; */
/* border: 1px solid transparent; */
    background-color: transparent; 
    border-color: transparent;
}